html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2{
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    text-align: center;
    
}
img{
    display: block;
    margin: auto;
}